{% extends 'control/base.html' %}
{% block content %}

{%include 'problems/problem-statement.html' with show_btn=show_btn btn=btn ltr=ltr%}

{% if user_subs %}
{% include 'problems/student-subs-list.html' with sub=sub %}
{%endif%}

{% if all_sols%}
{%include 'problems/table-of-all-solutions.html' with all_solutions=all_sols %}
{%endif%}

{% if this_sub%}
{% include 'problems/solution-box.html' with sub=this_sub %}
{% endif %}

{%if comments%}
<div class="container" id="comment-container">
    <h2>التعليقات</h2>
    {%include 'problems/comments.html' with comments=comments %}
</div>
{%endif%}

{% if cmnt %}
{%include 'problems/comment-form.html'%}
{%endif%}
{% endblock %}