{% include 'problems/problem-view.html' %}
{% if can_correct %}
<div class="container my-4">
    {%if not form%}
    <form>
        <button type="submit" name="decide" value="to_correct" class="btn btn-outline-primary">تصحيح الإجابة</button>
    </form>
    {%else%}
    <form>
        <button type="submit" name="decide" value="cancel_correction" class="btn btn-outline-secondary my-4">تراجع</button>
    </form>
    {%endif%}
    {%if form%}
        {%include 'control/correction-form.html'%}
    {%endif%}
    </div>
{%endif%}