{%extends 'control/base.html'%}
{% block content %}
<div class="">
    <div class="container">
        <input type="text" class="form-control my-2" onkeyup="onSearch()" id="searchBar" placeholder="🔎 ابحث عن...">
        {% for level in subs_list %}
        <h3>المستوى {{ forloop.counter }}</h3>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col"><a href="?order=problem">
                            المسألة
                        </a></th>
                    <th scope="col"><a href="?order=student">
                            التلميذ
                        </a></th>
                    <th scope="col">الحالة</th>
                </tr>
            </thead>
            <tbody>
                {% for sub in level %}
                <tr>
                    <th scope="row">{{ forloop.counter }}</th>
                    {% url 'problems:submit' sub.problem.chapter.topic sub.problem.pk as the_url%}
                    <td class=""><a href="{{the_url}}">
                            {{ sub.problem.code }}
                        </a></td>
                    <td class=""><a href="">
                            {{ sub.student.username }}
                        </a></td>
                    <td class=""><a href="{{sub.pk}}">
                            {% if sub.status == 'submit' %} إجابة جديدة
                            {% else %} تعليق جديد
                            {% endif %}
                        </a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endfor %}
    </div>
</div>
<script>
    function onSearch() {
        const filter = document.getElementById("searchBar").value.toUpperCase();
        const tables = document.getElementsByTagName("tbody");
        for (const table of tables) {
            const rows = table.getElementsByTagName("tr");
            for (const row of rows) {
                const tds = [...row.getElementsByTagName("td")];
                const txtValue = tds.reduce((acc, td) => acc + td.textContent, "").toUpperCase();
                row.style.display = txtValue.includes(filter) ? "" : "none";
            }

        }
    }
</script>
{%endblock%}