{%extends 'control/base.html'%}
{%load crispy_forms_tags%}
{%block content%}
<div class="container">
    <div class="card my-4">
        <div class="card-header" style="background-color: rgb(253, 255, 163) ;">
        <a class="card-link" href="{%url 'accounts:profile' ans.student.pk%}"> {{ans.student.username}} </a>
        </div>
        <div class="card-body">
            {%if ans.answer_file%}
            <iframe class="embed-responsive" src="{{ans.answer_file}}" width="100%" style="height:85vh"></iframe>
            {%else%}
            لم يقدم إجابة
            {%endif%}
        </div>
    </div>

    <form method='POST'>
        {%csrf_token%}
        {{form|crispy}}
        <button type="submit" class="btn btn-outline-success">وضع العلامة</button>
    </form>
</div>
{%endblock%}