{%extends 'control/base.html'%}
{%block content%}
<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">الرتبة</th>
				<th scope="col">التلميذ</th>
				<th scope="col" class="order-cell">النقاط</th>
				<th scope="col" class="order-cell">النقاط هذا الأسبوع</th>
			</tr>
		</thead>
		<tbody>
			{%for student in students_list|dictsort:'progress.points' reversed%}
			<tr id="student{{student.pk}}">
				<th scope="row">{{student.progress.rank}}</th>
				<td>
					<a href="{%url 'accounts:profile' student.pk%}">
					{{student.username}}
					</a>
				</td>
				<td>{{student.progress.points}}</td>
				<td>{{student.count_last_points}}</td>
			</tr>
			{%endfor%}
		</tbody>
	</table>
</div>
<script>
	let tbody = document.querySelector("tbody");
	let rows = Array.from(document.querySelectorAll("tbody tr"));
	Array.from(document.querySelectorAll(".order-cell")).forEach(e => {
		e.setAttribute("data-order", "sort");
		e.addEventListener("click", function(e) {
		let c = e.target.cellIndex;
		rows[this.dataset.order]((a,b) => b.children[c].innerText - a.children[c].innerText);
		tbody.innerHTML = "";
		tbody.append(...rows);
		this.dataset.order === "sort" ? this.setAttribute("data-order", "reverse") : this.setAttribute("data-order", "sort");
	})}, this);
</script>
{%endblock%}