{%extends 'control/base.html'%}
{%block content%}
<div class="container">
	<table class="table">
		<thead>
			<tr>
				<th scope="col">الرتبة</th>
				<th scope="col">التلميذ</th>
				<th scope="col" class="sort-cell">النقاط</th>
				<th scope="col" class="sort-cell">النقاط هذا الأسبوع</th>
			</tr>
		</thead>
		<tbody>
			{%for student in students_list|dictsort:'points' reversed%}
			<tr id="student{{student.pk}}">
				<th scope="row">{{student.rank}}</th>
				<td>
					<a href="{%url 'accounts:profile' student.pk%}">
						{{student.username}}
					</a>
				</td>
				<td>{{student.points}}</td>
				<td>{{student.count_last_points}}</td>
			</tr>
			{%endfor%}
		</tbody>
	</table>
</div>
<script>
	let tbody = document.querySelector("tbody");
	let rows = Array.from(document.querySelectorAll("tbody tr"));
	Array.from(document.querySelectorAll(".sort-cell")).forEach(e => {
		e.setAttribute("data-sort", "sort");
		e.addEventListener("click", function (e) {
			let c = e.target.cellIndex;
			rows[this.dataset.sort]((a, b) => b.children[c].innerText - a.children[c].innerText);
			tbody.innerHTML = "";
			tbody.append(...rows);
			this.dataset.sort === "sort" ? this.setAttribute("data-sort", "reverse") : this.setAttribute("data-sort", "sort");
		})
	}, this);
</script>
{%endblock%}