{%extends 'control/base.html'%}

{%block content%}
<div class="container">
    <h2>اختبار</h2>
    <p>المدة: {{test.duration}}</p>
    <p>
        يمكن تقديم إجراء الاختبار من {{test.starts_at}} 
        إلى غاية {{test.ends_at}} (لا يمكن تسيليم الإجابات بعدها)
    </p>
    <p>سوف يظهر زر إجراء الإختبار عند وصول وقت بداية الإختبار. 
        <br>
        بعد الضغط عليه، سيبدأ عد الوقت لك.
    </p>
    {%if not take_test and test.available%}
    <form method="POST">
        {%csrf_token%}
        <button class="btn btn-outline-primary" name="take-test" value="yes" type="sumbit">
            إجراء الإختبار
        </button>
    </form>
    {%elif test.ends or take_test%}
    <div class="py-4">
        {{test.problems|safe}}
    </div>
    {%endif%}
    {%if take_test and can_answer%}
    <iframe class="py-5" src="https://script.google.com/macros/s/AKfycbxBH4V8AyMkdbzK48UjpFSOZ3xHg0h39fYTR_A2xlcU7iqqydVjtT7a/exec" width="100%" frameborder="0" class="d-flex justify-content-right">
    </iframe>
    <form method="POST" enctype="multipart/form-data" class="py-4">
        {%csrf_token%}
        {{form}}
        <button type="submit" class="btn btn-success">تقديم الإجابة</button>
    </form>
    {%endif%}
</div>
{%endblock%}