{%extends 'control/base.html'%}
{%block content%}
<div class="container">
<table class="table col-lg-9 my-4">
    <thead>
      <tr>
        <th scope="col">التلميذ</th>
        <th scope="col">المسألة</th>
        <th scope="col">المستوى</th>
        <th scope="col">تاريخ الإرسال</th>
      </tr>
    </thead>
    <tbody>
    {%for sol in sols%}
        <td>
            {{sol.student.username}}
        </td>
        <td>
            <a href="{%url 'tasks:pb-view' sol.get_task.pk sol.problem.pk%}">
                {{sol.problem.get_code}}
            </a>
        </td>
        <td>
            {{sol.problem.level}}
        </td>
        <td>
            {{sol.submited_on}}
        </td>
    {%endfor%}
    </tbody>
</table>
</div>
{%endblock%}